In [1]:
!pip install geohash

Requirement already satisfied: geohash in /home/ec2-user/anaconda3/envs/amazonei_tensorflow_p36/lib/python3.6/site-packages (1.0)
Requirement already satisfied: docutils>=0.3 in /home/ec2-user/anaconda3/envs/amazonei_tensorflow_p36/lib/python3.6/site-packages (from geohash) (0.14)
You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
!pip install python-geohash

Requirement already satisfied: python-geohash in /home/ec2-user/anaconda3/envs/amazonei_tensorflow_p36/lib/python3.6/site-packages (0.8.5)
You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
!pip install Geohash

Requirement already satisfied: Geohash in /home/ec2-user/anaconda3/envs/amazonei_tensorflow_p36/lib/python3.6/site-packages (1.0)
Requirement already satisfied: docutils>=0.3 in /home/ec2-user/anaconda3/envs/amazonei_tensorflow_p36/lib/python3.6/site-packages (from Geohash) (0.14)
You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
import pandas as pd 
df=pd.read_csv('training.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4206321 entries, 0 to 4206320
Data columns (total 4 columns):
geohash6     object
day          int64
timestamp    object
demand       float64
dtypes: float64(1), int64(1), object(2)
memory usage: 128.4+ MB

In [6]:
# Get the longitude and latitude from the geohash
def decodegeo(geo, which):
  if len(geo) >= 6:
    geodecoded =  Geohash.decode_exactly(geo)
    return geodecoded[which] 
  else:
    return 0

In [7]:
import Geohash

In [8]:
df['latitude'] = df['geohash6'].apply(lambda geo: decodegeo(geo, 0))
df['longitude'] = df['geohash6'].apply(lambda geo: decodegeo(geo, 1))

In [9]:
df.dtypes

geohash6      object
day            int64
timestamp     object
demand       float64
latitude     float64
longitude    float64
dtype: object

In [10]:
df = df.sort_values(by=['geohash6','day','timestamp'])

In [11]:
df.head(5)

        geohash6  day timestamp    demand  latitude  longitude
2021861   qp02yc    1     11:15  0.013487 -5.484924  90.653687
1403484   qp02yc    1      12:0  0.003709 -5.484924  90.653687
2873712   qp02yc    1      2:45  0.020592 -5.484924  90.653687
2643238   qp02yc    1       3:0  0.010292 -5.484924  90.653687
1791986   qp02yc    1       4:0  0.006676 -5.484924  90.653687

In [12]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns

In [13]:
def time_preperation(dataframe):
    dataframe[['hour', 'min']] = dataframe['timestamp'].str.split(':', expand=True)      
    return dataframe

In [14]:
time_preperation(df)

        geohash6  day timestamp    demand  latitude  longitude hour min
2021861   qp02yc    1     11:15  0.013487 -5.484924  90.653687   11  15
1403484   qp02yc    1      12:0  0.003709 -5.484924  90.653687   12   0
2873712   qp02yc    1      2:45  0.020592 -5.484924  90.653687    2  45
2643238   qp02yc    1       3:0  0.010292 -5.484924  90.653687    3   0
1791986   qp02yc    1       4:0  0.006676 -5.484924  90.653687    4   0
4022333   qp02yc    1      4:30  0.003822 -5.484924  90.653687    4  30
3848343   qp02yc    1      6:45  0.011131 -5.484924  90.653687    6  45
1754613   qp02yc    2      12:0  0.006989 -5.484924  90.653687   12   0
886989    qp02yc    2     22:45  0.031419 -5.484924  90.653687   22  45
897330    qp02yc    2      4:30  0.011041 -5.484924  90.653687    4  30
4014082   qp02yc    2       5:0  0.040743 -5.484924  90.653687    5   0
2613081   qp02yc    2      8:45  0.026320 -5.484924  90.653687    8  45
2319843   qp02yc    3      4:15  0.012687 -5.484924  90.653687    4  15
2378396   qp02yc    3      5:15  0.027531 -5.484924  90.653687    5  15
1185822   qp02yc    3      6:30  0.005432 -5.484924  90.653687    6  30
3433787   qp02yc    3      6:45  0.037369 -5.484924  90.653687    6  45
1131501   qp02yc    3       8:0  0.001456 -5.484924  90.653687    8   0
4051660   qp02yc    3      8:30  0.014042 -5.484924  90.653687    8  30
3588340   qp02yc    3      9:45  0.027179 -5.484924  90.653687    9  45
207244    qp02yc    4     10:15  0.014625 -5.484924  90.653687   10  15
1877045   qp02yc    4     10:45  0.022054 -5.484924  90.653687   10  45
3572253   qp02yc    4      11:0  0.016541 -5.484924  90.653687   11   0
639251    qp02yc    4     11:30  0.007581 -5.484924  90.653687   11  30
279309    qp02yc    4      13:0  0.005394 -5.484924  90.653687   13   0
1674368   qp02yc    4      3:30  0.018839 -5.484924  90.653687    3  30
1295779   qp02yc    4       4:0  0.012716 -5.484924  90.653687    4   0
1336225   qp02yc    4      4:15  0.029508 -5.484924  90.653687    4  15
414668    qp02yc    4      4:30  0.057966 -5.484924  90.653687    4  30
3129611   qp02yc    4       5:0  0.032100 -5.484924  90.653687    5   0
1370043   qp02yc    4      5:15  0.021253 -5.484924  90.653687    5  15
...          ...  ...       ...       ...       ...        ...  ...  ..
1256345   qp0dnn   48     19:45  0.007751 -5.237732  90.972290   19  45
1134175   qp0dnn   48      4:30  0.000738 -5.237732  90.972290    4  30
4158551   qp0dnn   49     22:45  0.002617 -5.237732  90.972290   22  45
3462907   qp0dnn   49      23:0  0.004067 -5.237732  90.972290   23   0
3469170   qp0dnn   51      10:0  0.030558 -5.237732  90.972290   10   0
2023048   qp0dnn   52     10:30  0.005091 -5.237732  90.972290   10  30
1375887   qp0dnn   52      7:30  0.002420 -5.237732  90.972290    7  30
2232297   qp0dnn   54      13:0  0.004463 -5.237732  90.972290   13   0
3134720   qp0dnn   55     22:15  0.000550 -5.237732  90.972290   22  15
454615    qp0dnn   56     10:15  0.016509 -5.237732  90.972290   10  15
2070445   qp0dnn   56     10:30  0.005008 -5.237732  90.972290   10  30
3235647   qp0dnn   56     10:45  0.026476 -5.237732  90.972290   10  45
3842677   qp0dnn   56     11:15  0.015455 -5.237732  90.972290   11  15
1924623   qp0dnn   56     22:30  0.012714 -5.237732  90.972290   22  30
1754867   qp0dnn   56      9:15  0.015596 -5.237732  90.972290    9  15
3442116   qp0dnn   56      9:30  0.016088 -5.237732  90.972290    9  30
883595    qp0dnn   57      10:0  0.015804 -5.237732  90.972290   10   0
2068134   qp0dnn   57     10:15  0.006540 -5.237732  90.972290   10  15
3763207   qp0dnn   57     10:30  0.005616 -5.237732  90.972290   10  30
3811470   qp0dnn   57      9:15  0.000220 -5.237732  90.972290    9  15
3678995   qp0dnn   57      9:30  0.016268 -5.237732  90.972290    9  30
2202839   qp0dnn   59     10:30  0.017128 -5.237732  90.972290   10  30
2329890   qp0dnn   59       2:0  0.002340 -5.237732  90.972290    2   0
2523853   qp0dnn   59      8:15  0.009144 -5.237732  90.972290    8  15
673156    qp0dnn   59      9:30  0.012543 -5.237732  90.972290    9  30
2913817   qp0dnn   60     10:45  0.001280 -5.237732  90.972290   10  45
2564539   qp0dnn   60      11:0  0.045466 -5.237732  90.972290   11   0
988269    qp0dnn   60     11:15  0.029285 -5.237732  90.972290   11  15
1896685   qp0dnn   60      1:30  0.003741 -5.237732  90.972290    1  30
2110513   qp0dnn   61       9:0  0.000896 -5.237732  90.972290    9   0

[4206321 rows x 8 columns]

In [15]:
import math
import pandas as pd

In [16]:
df['hour'] = pd.to_numeric(df['hour'], errors='coerce')
df['min'] = pd.to_numeric(df['min'], errors='coerce')

In [17]:
df = df.dropna(subset=['hour'])
df = df.dropna(subset=['min'])

In [18]:
df['hour'] = df['hour'].astype('int64')
df['min'] = df['min'].astype('int64')

In [19]:
df.dtypes

geohash6      object
day            int64
timestamp     object
demand       float64
latitude     float64
longitude    float64
hour           int64
min            int64
dtype: object

In [20]:
def feature_generation_time(hour, min):
    
         
    # minutes into a day 
     number_minutes = hour* 60 + min
    
    
     b = 96 # number of time bins per day(one bin for every quarter of an hour)
     minutes_per_bin = int((24 / float(b)) * 60)
    
    # the start of the time bin 
     time_bin = number_minutes / minutes_per_bin 
     hour_bin = number_minutes / 60
     min_bin = (time_bin * minutes_per_bin) % 60
        
    # floating point representation of the center of the time bin
     return (hour_bin*60 + min_bin + minutes_per_bin / 2.0)/(60*24)

In [21]:
df['time_num'] = df.apply(lambda row : feature_generation_time(row['hour'], 
                     row['min']), axis = 1)

In [22]:
df['time_num'].head(5)

2021861    0.484375
1403484    0.505208
2873712    0.151042
2643238    0.130208
1791986    0.171875
Name: time_num, dtype: float64

In [23]:
df.dtypes

geohash6      object
day            int64
timestamp     object
demand       float64
latitude     float64
longitude    float64
hour           int64
min            int64
time_num     float64
dtype: object

In [24]:
import math

In [25]:
def feature_generation_time_cos(row):
     
    return math.cos(row * 2 * math.pi)

In [26]:
def feature_generation_time_sin(row):
     
    return math.sin(row * 2 * math.pi)

In [27]:
df['cos_time'] = df.apply(lambda row : feature_generation_time_cos(row['time_num']), axis = 1)

In [28]:
df['sin_time'] = df.apply(lambda row : feature_generation_time_sin(row['time_num']), axis = 1)

In [29]:
df.dtypes

geohash6      object
day            int64
timestamp     object
demand       float64
latitude     float64
longitude    float64
hour           int64
min            int64
time_num     float64
cos_time     float64
sin_time     float64
dtype: object

In [30]:
df.head(5)

,geohash6,day,timestamp,demand,latitude,longitude,hour,min,time_num,cos_time,sin_time
2021861,qp02yc,1,11:15,0.013487,-5.484924,90.653687,11,15,0.484375,-0.995185,0.098017
1403484,qp02yc,1,12:0,0.003709,-5.484924,90.653687,12,0,0.505208,-0.999465,-0.032719
2873712,qp02yc,1,2:45,0.020592,-5.484924,90.653687,2,45,0.151042,0.582478,0.812847
2643238,qp02yc,1,3:0,0.010292,-5.484924,90.653687,3,0,0.130208,0.683592,0.729864
1791986,qp02yc,1,4:0,0.006676,-5.484924,90.653687,4,0,0.171875,0.471397,0.881921

In [31]:
day_list = [int (m) for m  in df['day']]

In [32]:
day_index = []
day_string = []
 
for day in day_list:
    if day % 7 == 1:
        day_index.append(1)
       #day_string.append("Tuesday")
    elif day % 7 == 2:
        day_index.append(2)
        #day_string.append("Wednesday") 
    elif day % 7 == 3:  
        day_index.append(3)
        #day_string.append("Thursday")
    elif day % 7 == 4:
        day_index.append(4)
        #day_string.append("Friday")
    elif day % 7 == 5:
        day_index.append(5)
        #day_string.append("Saturday")
    elif day % 7 == 6:
        day_index.append(6)
        #day_string.append("Sunday")
    elif day % 7 == 0:
        day_index.append(0)
        #day_string.append("Monday")

In [33]:
def feature_generation_date(num_time, index):
    
    return (num_time + index)/7.0

In [34]:
df['day_index'] = day_index

In [35]:
df['day_num'] = df.apply(lambda row : feature_generation_date(row['time_num'], 
                     row['day_index']), axis = 1)

In [36]:
def feature_generation_date_cos(row):
     
    return math.cos(row * 2 * math.pi)

In [37]:
def feature_generation_date_sin(row):
     
    return math.sin(row * 2 * math.pi)

In [38]:
df['day_sin'] = df.apply(lambda row : feature_generation_date_sin(row['day_num']), axis = 1)

In [39]:
df['day_cos'] = df.apply(lambda row : feature_generation_date_cos(row['day_num']), axis = 1)

In [40]:
df.head(5)

,geohash6,day,timestamp,demand,latitude,longitude,hour,min,time_num,cos_time,sin_time,day_index,day_num,day_sin,day_cos
2021861,qp02yc,1,11:15,0.013487,-5.484924,90.653687,11,15,0.484375,-0.995185,0.098017,1,0.212054,0.971711,0.236172
1403484,qp02yc,1,12:0,0.003709,-5.484924,90.653687,12,0,0.505208,-0.999465,-0.032719,1,0.215030,0.975958,0.217961
2873712,qp02yc,1,2:45,0.020592,-5.484924,90.653687,2,45,0.151042,0.582478,0.812847,1,0.164435,0.858928,0.512096
2643238,qp02yc,1,3:0,0.010292,-5.484924,90.653687,3,0,0.130208,0.683592,0.729864,1,0.161458,0.849202,0.528068
1791986,qp02yc,1,4:0,0.006676,-5.484924,90.653687,4,0,0.171875,0.471397,0.881921,1,0.167411,0.868353,0.495946

In [41]:
df.dtypes

geohash6      object
day            int64
timestamp     object
demand       float64
latitude     float64
longitude    float64
hour           int64
min            int64
time_num     float64
cos_time     float64
sin_time     float64
day_index      int64
day_num      float64
day_sin      float64
day_cos      float64
dtype: object

In [42]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
import random

In [43]:
# Funtion for cross-validation over a grid of parameters

def cv_optimize(clf, parameters, X, y, n_jobs=1, n_folds=5, score_func=None, verbose=0):
    if score_func:
        gs = GridSearchCV(clf, param_grid=parameters, cv=n_folds, n_jobs=n_jobs, scoring=score_func, verbose=verbose)
    else:
        gs = GridSearchCV(clf, param_grid=parameters, n_jobs=n_jobs, cv=n_folds, verbose=verbose)
    gs.fit(X, y)
    print("BEST", gs.best_params_, gs.best_score_, gs.cv_results_, gs.scorer_)
    print("Best score: ", gs.best_score_)
    best = gs.best_estimator_
    return best

In [45]:
df_sample = df.sample(300000, random_state=1)

In [46]:
X = df_sample

In [47]:
X = X.drop(['demand', 'geohash6', 'timestamp'], axis=1)

In [48]:
X.head(5)

,day,latitude,longitude,hour,min,time_num,cos_time,sin_time,day_index,day_num,day_sin,day_cos
2254808,3,-5.369568,90.708618,23,45,1.026042,0.986643,0.162895,3,0.575149,-0.454823,-0.890582
73022,13,-5.402527,90.829468,10,45,0.484375,-0.995185,0.098017,6,0.926339,-0.446477,0.894795
2733566,24,-5.281677,90.752563,3,30,0.171875,0.471397,0.881921,3,0.453125,0.290285,-0.956940
210961,17,-5.281677,90.906372,23,0,0.963542,0.973877,-0.227076,3,0.566220,-0.404173,-0.914683
4071587,48,-5.320129,90.840454,14,0,0.588542,-0.849202,-0.528068,6,0.941220,-0.360985,0.932572

In [49]:
X.shape

(300000, 12)

In [50]:
y = df_sample['demand'].values

In [51]:
y.shape

(300000,)

In [52]:
itrain, itest = train_test_split(range(df_sample.shape[0]), train_size=0.8)

/home/ec2-user/anaconda3/envs/amazonei_tensorflow_p36/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [53]:
mask=np.ones(df_sample.shape[0], dtype='int')
mask[itrain]=1
mask[itest]=0
mask = (mask==1)
mask[:10]

array([ True,  True,  True,  True,  True,  True, False, False, False,
        True])

In [54]:
Xtrain, Xtest, ytrain, ytest = X[mask], X[~mask], y[mask], y[~mask]
n_samples = Xtrain.shape[0]
n_features = Xtrain.shape[1]
print(Xtrain.shape)

(240000, 12)

In [55]:
# Create a Random Forest Regression estimator
estimator = RandomForestRegressor(n_estimators=20, n_jobs=-1, max_features = 'sqrt')

In [56]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import make_scorer

In [57]:
Xtrain.shape

(240000, 12)

In [58]:
ytrain.shape

(240000,)

In [59]:
%%time
# Define a grid of parameters over which to optimize the random forest
# We will figure out which number of trees is optimal
parameters = {"n_estimators": [50],
              "max_features": ["auto"], # ["auto","sqrt","log2"]
              "max_depth": [50]}
best = cv_optimize(estimator, parameters, Xtrain, ytrain, n_folds=5, score_func= make_scorer(mean_squared_error), verbose=3)

Fitting 5 folds for each of 1 candidates, totalling 5 fits
[CV] max_depth=50, max_features=auto, n_estimators=50 ................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  max_depth=50, max_features=auto, n_estimators=50, score=0.002597531108697959, total=  34.7s
[CV] max_depth=50, max_features=auto, n_estimators=50 ................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   36.9s remaining:    0.0s

[CV]  max_depth=50, max_features=auto, n_estimators=50, score=0.00257392560307822, total=  33.6s
[CV] max_depth=50, max_features=auto, n_estimators=50 ................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:  1.2min remaining:    0.0s

[CV]  max_depth=50, max_features=auto, n_estimators=50, score=0.0025619016849625278, total=  35.0s
[CV] max_depth=50, max_features=auto, n_estimators=50 ................
[CV]  max_depth=50, max_features=auto, n_estimators=50, score=0.002646067135836772, total=  33.9s
[CV] max_depth=50, max_features=auto, n_estimators=50 ................
[CV]  max_depth=50, max_features=auto, n_estimators=50, score=0.002577130653093484, total=  33.8s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:  3.0min finished

BEST {'max_depth': 50, 'max_features': 'auto', 'n_estimators': 50} 0.0025913112371337924 {'mean_fit_time': array([33.58397727]), 'std_fit_time': array([0.53114054]), 'mean_score_time': array([0.62692118]), 'std_score_time': array([0.03957861]), 'param_max_depth': masked_array(data=[50],
             mask=[False],
       fill_value='?',
            dtype=object), 'param_max_features': masked_array(data=['auto'],
             mask=[False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[50],
             mask=[False],
       fill_value='?',
            dtype=object), 'params': [{'max_depth': 50, 'max_features': 'auto', 'n_estimators': 50}], 'split0_test_score': array([0.00259753]), 'split1_test_score': array([0.00257393]), 'split2_test_score': array([0.0025619]), 'split3_test_score': array([0.00264607]), 'split4_test_score': array([0.00257713]), 'mean_test_score': array([0.00259131]), 'std_test_score': array([2.96822042e-05]), 'rank_test_score': array([1], dtype=int32), 'split0_train_score': array([0.0003693]), 'split1_train_score': array([0.00037907]), 'split2_train_score': array([0.00037438]), 'split3_train_score': array([0.00038311]), 'split4_train_score': array([0.00037001]), 'mean_train_score': array([0.00037518]), 'std_train_score': array([5.28810333e-06])} make_scorer(mean_squared_error)
Best score:  0.0025913112371337924
CPU times: user 1min 50s, sys: 2.51 s, total: 1min 52s
Wall time: 3min 42s

In [60]:
# Fit the best Random Forest and calculate R^2 values for training and test sets
reg=best.fit(Xtrain, ytrain)
training_accuracy = reg.score(Xtrain, ytrain)
test_accuracy = reg.score(Xtest, ytest)

print("R^2 on training data: %0.4f" % (training_accuracy))
print("R^2 on test data:     %0.4f" % (test_accuracy))

R^2 on training data: 0.9859
R^2 on test data:     0.9054

In [61]:
# Calculate the Root Mean Squared Error
rmse = np.sqrt(mean_squared_error(reg.predict(Xtest),ytest))
print(rmse)

0.049093098661663274

In [62]:
#most important features

In [63]:
import operator
dict_feat_imp = dict(zip(list(X.columns.values),reg.feature_importances_))

sorted_features = sorted(dict_feat_imp.items(), key=operator.itemgetter(1), reverse=True)
sorted_features

[('latitude', 0.3849260571199068),
 ('longitude', 0.3789506918660135),
 ('hour', 0.05045571736364868),
 ('day', 0.038715351577986265),
 ('time_num', 0.028656979857700958),
 ('cos_time', 0.027445762438575712),
 ('day_cos', 0.023449176430831473),
 ('day_num', 0.022624781032002477),
 ('day_sin', 0.019526334770635062),
 ('sin_time', 0.01425582340199766),
 ('min', 0.006764707787049421),
 ('day_index', 0.004228616353652008)]